#home{
	position: relative;
	width: 100%;
	height: 100vh;
	
	background-image: url("../pictures/dude2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;

	background-attachment: fixed;
	
	
}

/*MENU*/

.menu{
	width: 0%;
	height: 100%;
	background: transparent;
	position: fixed;
	display: flex;
	z-index: 3;
}

.menu-izq{
	position: relative;
	background: white;
	width: 0%;
	height: 100%;
	background-image: url("../pictures/goda2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.menu-der{
	position: relative;
	background: #ffc30b;
	width: 0%;
	height: 100%;
}

.menu-der ul{
	margin-top: 25%;
	text-align: center;
	color: black;
	font-family: Montserrat, sans-serif;
	font-size: 0em;
	font-weight: 700;
	list-style: none;
}

.menu-der li{
	margin-top: 8%;
	cursor: pointer;
}

.menu-der a{
	text-decoration: none;
	color: #111;
}

.menu-der .rsocial{
	margin-top: 10%;
}

.menu-der .rsocial a{
	margin-right: 3%;
	margin-left: 3%;
}

/*-----------------*/

:root{
	--color-hamb:#fff;
}


.texto-home{
	position: absolute;
	color: white;
	text-transform: uppercase;
	font-family: Montserrat;
	font-weight: 800;
	font-size: 7vw;
	line-height: 1;
	letter-spacing: 0.2em;
	transition: 1s;
}

.texto-home.uno{
	top: 40vh;
	left: 20vw; 
}


.texto-home.dos{
	top: 55vh;
	left: 49vw; 
}

.texto-home.dos:hover{
	transform: translate(10vw,-5vh);
	color: yellow;
}

.borde-uno{
	border-top: 5px solid white;
	border-left: 5px solid white;
	padding-top: 1vh;
	padding-left: 2vw; 
}

.borde-dos{
	border-bottom: 5px solid white;
	border-right: 5px solid white; 
	padding-bottom: 1vh;
	padding-right: 1vw;
}

#about{
	z-index: 1;
	position: relative;
}

.texto-about{
	font-family: Montserrat;
	font-size: 4.6vw;
	font-weight: 800;
	line-height: 1.3;
	letter-spacing: -0.03em;
	padding: 0 15px;
	color: #111;
}

.icono{
   	position: fixed;
   	top: 10%;
   	left: 93%;
   	transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    cursor: pointer;
    
    z-index: 99998;
}

.hamburger{
	width: 40px;
	height: 4px;
	background: var(--color-hamb);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
	transition: .5s;
}

.hamburger:before, .hamburger:after{
	content: '';
	position: absolute;
	width: 40px;
	height: 4px;
	background: var(--color-hamb);
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
	transition: .5s;
}


.hamburger:before{
	top: -12px;
}

.hamburger:after{
	top: 12px;
}

.icono.active .hamburger{
	background: rgba(0,0,0,0);
	box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icono.active .hamburger:before{
	top: 0;
	transform: rotate(45deg);
	background: white;
}

.icono.active .hamburger:after{
	top: 0;
	transform: rotate(135deg);
	background: white;
}

.separador{
	height: 22vh;
	width: auto;
}

.subtitulo{
	line-height: 1;
	letter-spacing: 0.05em;
	color: #111;
	margin-bottom: 5vh;
}

.parrf{
	margin: 12vh 5vw 10vh 5vw;
	font-size: 16px;
	font-family: Montserrat;
	font-weight: 400;
}

#driver{
	height: 90vh;
}

.fotomia{
	margin:5vh auto 20vh auto;
	width: 30vh;
	height: 40vh;

}


.fotomia img{
	width: 30vh;
	height: auto;
	border-radius: 10%;
	-webkit-box-shadow: -22px 31px 77px -18px rgba(0,0,0,0.67);
	-moz-box-shadow: -22px 31px 77px -18px rgba(0,0,0,0.67);
	box-shadow: -22px 31px 77px -18px rgba(0,0,0,0.67);
}


#skills{
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url("../pictures/sev.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#skills .subtitulo, #tsk{
	color: white;
}

.contenedor-hab{
	
	margin-top: 20vh;
	height: 50vh;
	/*background-color: white;*/
	overflow-x: hidden;

}

.contenedor-hab-img{
	margin-bottom: 2rem;
}

/*.row.row-hab{
	margin-left: 10%;
}
*/
.contenedor-hab-img img{
	margin: 0 auto;
	width: 8vw;
	height: auto;

}

/*.contenedor-hab {
	position: absolute;
	margin-top: 40px;
	top: 50vh;
	width: 8vw;
	height: 10vh;
	
	  
}

.contenedor-hab img {
	margin: 0 auto;
	width: 100%;
	height: auto;
}

#contenedor1{
	left: 5%;
}

#contenedor2{
	left: 30%;
}

#contenedor3{
	left: 55%;
}

#contenedor4{
	left: 80%;
}*/

#services{
	margin-top: 20vh;
	width: 100%;
	height: auto;
}

.separador2{
	margin-bottom: 30vh;
}

.galeria{
	width: 100%
	height:auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

.imagen{
	width: 45%;
	margin: 1vh 1vh;
	height: 50vh;
	background-color: black;
	background-size: cover;
	background-position: center;
	transition: 0.5s;
}

.holis{
	width: 100%;
	height: 100%;
	position: relative;
	transition: .5s;
}

.holis:hover{
	background-color: rgba(255,255,230,.5);
}

.imagen:hover{
	transform: scale(1.025,1.025);
}

.img-1{
	background-image: url("../pictures/p1.png");
}

.img-2{
	background-image: url("../pictures/p2e.png");
}

.hola{
	transform: scale(0,0);
	color: black;
	bottom: 60%;
	
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.08em;
	position: relative;	
}

#contact{
	margin-top: 23vh;
	font-family: Montserrat !important;
}


.grande{
	font-size: 40px;
	margin: 40% 0 10% 0;
}

footer{
	margin-top: 25vh;
	font-size: 0.7em;
	color: gray;
}

.email{
	background:
	    linear-gradient(
	    to bottom, black 0%,
	    black 100%
    	);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    text-decoration: none;
  	transition: background-size .2s;
  	color: black;
  	padding: 10px;
}

.email:hover{
	background-size: 4px 50px;
	color: white;
	text-decoration: none;
}

.tracking-in-contract-bck {
	transform: scale(1,1);
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2019-1-4 21:10:38
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    transform: scale(1,1);
  }
}

.tracking-out-expand-fwd {
	-webkit-animation: tracking-out-expand-fwd 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: tracking-out-expand-fwd 0.8s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	     	transform: scale(0,0);
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-4 22:13:34
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-out-expand-fwd
 * ----------------------------------------
 */
@-webkit-keyframes tracking-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    opacity: 0;
  }
}
@keyframes tracking-out-expand-fwd {
  0% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    opacity: 0;
    transform: scale(0,0);
  }
}

@media (max-width: 450px) {
	.imagen{
		width: 90vw;
	}

	.icono{
		left: 88vw;
	}

}

